.iTaoBanner
{
    background: -webkit-linear-gradient(#FFF2B7, #FAE691 98%, #878787);
    height: 50px; 
    width: 100%;
    margin: 0;
    padding: 0;
    line-height:31px;
    vertical-align: middle; 
    position:fixed;
    z-index:9999;
}

.iTaoCloseImage
{
	width: 32px;
	
	height: 32px;
	margin-top: 8px;
	margin-left: 8px;
	cursor:pointer;
}

.iTaot_center 
{ 
	margin: 0 auto; 
    text-align:center;
    float:right;
    width:90%;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
}
.iTaot_span
{
    line-height:50px;
	font-size:15px;
}

.iTaot_right
{
    float:right;
    line-height:31px;
    width:10%;
}

.iTaot_strong 
{ 
	font-weight:bold; 
	margin-left:5px;
	margin-right:5px;
	color: #F50; 
}
.iTaoLink,.iTaoLink:visited,.iTaoLink:active
{
	color:red;
	text-decoration:underline;
	font-weight: normal;
	font-size:15px;
}